.k8_branch_locator-map-wrap {
}

.k8-branch-locator-select{ margin-bottom:25px; }

/* This is needed to overide img max-width 100% HAX */
.gmnoprint img { max-width: none !important; }

#k8_branch_locator-map{
	position: relative; 
	overflow:hidden;
	min-height: 200px;
	min-width: 200px;
}

/* This is needed to overide img max-width 100% HAX */
.k8_branch_locator-map img {
	max-width: none !important;
}

.k8-map-branch-info{
  
  min-width:180px;
  margin:8px;
  
  text-align:left;
  
  h5{  }
  b{ width:45px; margin-right:15px; }
  
  a{ margin-top:15px; }
  
}
